body {
  margin: 0;
  background: rgb(255, 123, 0);
  font-family: "Roboto Slab", serif;
}

.wrapper {
  display: block;
  width: 70%;
  height: 100vh;
  background: white;
  border-radius: 20px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: auto;
  flex-wrap: wrap;

  form {
    margin: 10px;
    padding: 10px;
    overflow: auto;
    flex-wrap: wrap;
    text-align: center;

    input {
      margin-right: 30px;
    }

    .valueInput {
      width: 70%;
      padding: 10px;
      font-size: 12px;
      border-radius: 10px;
      border: 1px solid black;
      font-family: monospace;
      text-align: center;
    }

    .submitInput {
      border: 1px solid black;
      background: orange;
      padding: 10px;
      cursor: pointer;
      font-size: 12px;
      border-radius: 10px;
      font-family: monospace;
    }

    .submitInput:hover {
      border: 1px solid orange;
      background: black;
      color: orange;
      padding: 10px;
      cursor: pointer;
      font-size: 12px;
      border-radius: 10px;
      font-family: monospace;
    }
  }

  .emptyCompletedList {
    margin: 50px;
    padding: 0;
    text-align: center;
  }

  .emptyDeletedList {
    margin: 50px;
    padding: 0;
    text-align: center;
  }

  .emptyTasksList {
    margin: 50px;
    padding: 0;
    text-align: center;
  }
}

header {
  display: flex;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid chocolate;
  justify-content: space-between;

  h1 {
    display: inline-block;
    margin: 5px;
    color: black;
    margin-left: 30px;
  }

  ul {
    display: flex;
    list-style-type: none;

    li {
      margin-right: 20px;
      cursor: pointer;
    }
  }
}

.task {
  display: flex;
  border: 2px solid chocolate;
  border-radius: 20px;
  margin: 50px;
  justify-content: space-between;

  h2 {
    margin: 10px;
  }

  ul {
    display: flex;
    list-style-type: none;

    li {
      margin-right: 20px;
      cursor: pointer;
    }
  }
}

.deletedTask {
  display: flex;
  border: 2px solid red;
  border-radius: 20px;
  margin: 50px;

  h2 {
    margin: auto;
    padding: 10px;
  }
}

.completedTask {
  display: flex;
  border: 2px solid green;
  border-radius: 20px;
  margin: 50px;
  justify-content: space-between;

  h2 {
    color: black;
    margin: 10px;
  }

  img {
    margin: 15px;
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .modalContent {
    padding: 20px;
    border-radius: 12px;
    background-color: orange;
    height: 200px;
    width: 400px;
    text-align: center;
    font-style: italic;
  }

  .modalClose {
    width: 400px;
    height: 10%;
    text-align: right;

    img {
      margin-top: 3px;
      margin-right: 7px;
      cursor: pointer;
    }
  }
}
